.receita__botao {
    background: #9c0808;
    border: none;
    border-radius: 5px;
    color: #fdfdfd;
    padding: 1rem;
    transition: all .1s ease-in-out;
}

.receita__botao:hover {
    background: #570c0c;
    cursor: pointer;
    transform: scale(1);
}